<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css assets/css/style.min.css -->
  <link rel="stylesheet" href="assets/vendor/normalize.css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <!-- endbuild -->
</head>
<body>
  <div data-root="window.Main">

  </div>
  <!-- build:js assets/js/script.min.js -->    
  <!-- cut and repaset from here -->
  <!-- vendor scripts -->
  <!-- bower:js -->
  <script src="assets/vendor/modernizr/modernizr.js"></script>
  <script src="assets/vendor/jquery/dist/jquery.js"></script>
  <script src="assets/vendor/greensock/src/minified/TweenMax.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="assets/vendor/respond/dest/respond.src.js"></script>
  <script src="assets/vendor/html5shiv/dist/html5shiv.js"></script>
  <script src="assets/vendor/html5shiv/dist/html5shiv-printshiv.js"></script>
  <script src="assets/vendor/accounting/accounting.js"></script>
  <!-- endbower -->
  <script src="assets/js/lib/lavcore/core.src.js"></script>
  <!-- and here because usemin is acting weird -->
  <!-- myscripts -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/app.js"></script>
  <!-- endbuild -->
</body>
</html>